<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sotildi</title>
  <link rel="stylesheet" type="text/css"  href="css/styles.css">
</head>
<body>
  <header class="site-header">
    <div class="container">
      <div class="site-header__wrapper">
        <a class="site-header__link" href="/">
          <img src="/img/sotildi-logo.png" alt="logo site" width="35" height="24">
          <h3 class="logo-site">Sotildi</h3>
        </a>

        <nav class="sitenav">
          <ul class="sitenav__list">
            <li class="sitenav__item">
              <ul class="language">
                <li class="language-item">
                  <span class="language-item__uz language-item--active">O'z</span>
                </li>
                <li class="language-item">
                  <span class="language-item__ru">Ru</span>
                </li>
              </ul>
            </li>
            <li class="sitenav__item sitenav__item--dropdown">
              <a class="sitenav__link" href="#">Xabarlar</a>
              <ul class="dropdown">
                <li class="dropdown-item-profile">
                  <div class="dropdown-item__top">
                    <img src="img/icon-account.svg" alt="" width="40" height="40">
                    <div class="dropdown-item__username">
                      <p class="dropdown-username">username</p>
                      <span class="dropdown-id">id686513</span>
                    </div>
                  </div>
                </li>
                <li class="dropdown__item">
                  <p class="dropdown-profile">Mening profilim:</p>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">E'lonlar</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Xabarlar</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">To'lovlar va hisob</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Sozlamalar</a>
                </li>
              </ul>
            </li>
            <li class="sitenav__item">
              <a class="sitenav-post" href="/poster">E'lon berish</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
 <div class="container">
  <h1 class="announce">Faol E'lonlar</h1>

  <form class="prod-search__form" action="http://localhost:5000/ads" method="GET">
    <div class="prod-search__box">
      <input class="prod-search__input" type="text" name="search" aria-label="E'lonlar qidiruvi" required placeholder="E'lonlar qidiruvi">
      <button class="prod-search__btn" id="btnSearch">Qidiruv</button>
    </div>
  </form>

  <section class="products">
    <h2 class="visually-hidden">E'lonlar</h2>
    <ul class="products-list" id="elon">

    </ul>
  </section>
 </div>
 <script src="js/app.js"></script>
</body>
</html>