<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OLX</title>
  <link type="text/css" rel="stylesheet"  href="css/styles.css">
</head>
<body>

  <div class="container">
    <div class="wrapper">
      <div class="image-wrapper">
        <img class="announce-img" src="" alt="rasm" id="reklama_img">
      </div>
      <div class="user-info__right">
        <section class="user-info">
          <h2 class="user" id="user_name"></h2>
          <div class="user-names">
            <img src="img/icon-account.svg" alt="" >
            <div class="user-number__wrapper">
              <p class="user-number" id="tel_number"></p>
              <span class="user-sign">The last time was today at 11:00</span>
              <div class="contact-user">
                <a class="call-user" href="#">Qo'ng'iroq qilish</a>
                <a class="user-message" href="#">Xabar yozish</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

    <div class="description">
      <span class="placed-post" id="date"></span>
      <h2 class="detailed-name" id="title"></h2>
      <span class="price" id="price">215 y.e.</span>
      <div class="ad">
        <a class="reklama" href="#">Reklama qilish</a>
        <a class="lift" href="#">Ko'tarish</a>
      </div>
      <h3 class="desc-name">Tavsif</h3>
      <p class="desc-text" id="reference"></p>
    </div>

    
  </div>

  <script src="../public/js/info.js"></script>
</body>
</html>