<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sotildi</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body class="register-body">

  <header class="site-header">
    <div class="container">
      <div class="site-header__wrapper">
        <a class="site-header__link" href="/">
          <img src="/img/sotildi-logo.png" alt="logo site" width="35" height="24">
          <h3 class="logo-site">Sotildi</h3>
        </a>

        <nav class="sitenav">
          <ul class="sitenav__list">
            <li class="sitenav__item">
              <ul class="language">
                <li class="language-item">
                  <span class="language-item__uz language-item--active">O'z</span>
                </li>
                <li class="language-item">
                  <span class="language-item__ru">Ru</span>
                </li>
              </ul>
            </li>
            <li class="sitenav__item sitenav__item--dropdown">
              <a class="sitenav__link" href="#">Xabarlar</a>
              <ul class="dropdown">
                <li class="dropdown-item-profile">
                  <div class="dropdown-item__top">
                    <img src="img/icon-account.svg" alt="" width="40" height="40">
                    <div class="dropdown-item__username">
                      <p class="dropdown-username">username</p>
                      <span class="dropdown-id">id</span>
                    </div>
                  </div>
                </li>
                <li class="dropdown__item">
                  <p class="dropdown-profile">Mening profilim:</p>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">E'lonlar</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Xabarlar</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">To'lovlar va hisob</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link" href="#">Sozlamalar</a>
                </li>
              </ul>
            </li>
            <li class="sitenav__item">
              <a class="sitenav-post" href="/poster">E'lon berish</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main class="site-main">
    <div class="register-form" >
      <div class="register-form__top">
        <button class="register-signin register-active" type="button">Tizimga kirish</button>
        <button class="register-signup" type="button">Ro'yaxatdan o'tish</button>
      </div>

      <form action="http://localhost:5000/login" method="POST" class="register-signin__group sign-in-up-active">

         <label class="sigin-label">email pochtangizni kiriting
        <input class="signin-input" type="email" name="email" aria-label="email for register" placeholder="email kiriting">
      </label>

     <label class="sigin-label">telefon raqam kirinting
        <input class="signin-input" type="tel" name="tel" aria-label="Password for register" placeholder="telefon raqam kirinting">
      </label> 
      <div class="signin-btn__wrapper">
        <button class="signin-btn" type="submit">Tizimga kirish</button>
      </div>
      </form>

    <form class="register-signup__group" action="http://localhost:5000/register" method="POST">
      <label class="sigin-label">username kiriting
        <input class="signin-input" type="text" name="name" aria-label="email for register" placeholder="username kiriting">
      </label>
      
      <label class="sigin-label">email pochtangizni kiriting
      <input class="signin-input" type="email" name="email" aria-label="email for register" placeholder="Email pochtangizni kiriting">
    </label>

    <label class="sigin-label">telefon raqam kirinting
      <input class="signin-input" type="tel" name="tel" aria-label="Password for register" placeholder="telefon raqam kirinting">
    </label>
    <div class="signin-btn__wrapper">
      <button class="signin-btn" type="submit">Ro'yxatdan o'tish</button>
    </div>
    </form>

  </div>
  </main>

  <script src="js/signup.js"></script>
</body>
</html>